In [ ]:
import pandas as pd
import pymysql

DB connection info

In [ ]:
host = "localhost"
user = "root"
password = "root"
database = "crime_detection"

Connect to db

In [ ]:
connection = pymysql.connect(host=host, user=user, password=password, db=database)
cursor = connection.cursor()

Create table

In [ ]:
my_table = """CREATE TABLE raw_data (
    dr_no VARCHAR(255),
    date_rptd VARCHAR(255),
    date_occ VARCHAR(255),
    time_occ VARCHAR(255),
    area VARCHAR(255),
    area_name VARCHAR(255),
    rpt_dist_no VARCHAR(255),
    part_1_2 VARCHAR(255),
    crm_cd VARCHAR(255),
    crm_cd_desc VARCHAR(255),
    mocodes VARCHAR(255),
    vict_age VARCHAR(255),
    vict_sex VARCHAR(255),
    vict_descent VARCHAR(255),
    premis_cd VARCHAR(255),
    premis_desc VARCHAR(255),
    weapon_used_cd VARCHAR(255),
    weapon_desc VARCHAR(255),
    status VARCHAR(255),
    status_desc VARCHAR(255),
    crm_cd_1 VARCHAR(255),
    crm_cd_2 VARCHAR(255),
    crm_cd_3 VARCHAR(255),
    crm_cd_4 VARCHAR(255),
    location VARCHAR(255),
    cross_street VARCHAR(255),
    lat VARCHAR(255),
    lon VARCHAR(255)
);"""

try:
    cursor.execute(my_table)
    print("Succesfully table created!")
except Exception as e:
    print(f"Error: {e}")

Read CSV

In [ ]:
data = pd.read_csv('Crime_Data_from_2010_to_2019.csv')

Transferring data to database

In [ ]:
for i, row in data.iterrows():
    sql = """INSERT INTO `raw_data`
        (
        `dr_no`,
        `date_rptd`,
        `date_occ`,
        `time_occ`,
        `area`,
        `area_name`,
        `rpt_dist_no`,
        `part_1_2`,
        `crm_cd`,
        `crm_cd_desc`,
        `mocodes`,
        `vict_age`,
        `vict_sex`,
        `vict_descent`,
        `premis_cd`,
        `premis_desc`,
        `weapon_used_cd`,
        `weapon_desc`,
        `status`,
        `status_desc`,
        `crm_cd_1`,
        `crm_cd_2`,
        `crm_cd_3`,
        `crm_cd_4`,
        `location`,
        `cross_street`,
        `lat`,
        `lon`
        )
    VALUES
        (
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s"
        )"""
    try:
        q = sql % tuple(row)
        cursor.execute(q)
        connection.commit()
        print(i)
    except Exception as e:
        print(f"Error: {e}")
        print(sql % tuple(row))
        break

Close everything...

In [ ]:
cursor.close()
connection.close()