In [ ]:
import pandas as pd
import pymysql

DB connection info

In [ ]:
host = "localhost"
user = "root"
password = "root"
database = "crime_detection"

Connect to db

In [ ]:
connection = pymysql.connect(host=host, user=user, password=password, db=database)
cursor = connection.cursor()

Create table

In [ ]:
my_table = """CREATE TABLE raw_data (
    dr_no VARCHAR(255),
    date_rptd VARCHAR(255),
    date_occ VARCHAR(255),
    time_occ VARCHAR(255),
    area VARCHAR(255),
    area_name VARCHAR(255),
    rpt_dist_no VARCHAR(255),
    part_1_2 VARCHAR(255),
    crm_cd VARCHAR(255),
    crm_cd_desc VARCHAR(255),
    mocodes VARCHAR(255),
    vict_age VARCHAR(255),
    vict_sex VARCHAR(255),
    vict_descent VARCHAR(255),
    premis_cd VARCHAR(255),
    premis_desc VARCHAR(255),
    weapon_used_cd VARCHAR(255),
    weapon_desc VARCHAR(255),
    status VARCHAR(255),
    status_desc VARCHAR(255),
    crm_cd_1 VARCHAR(255),
    crm_cd_2 VARCHAR(255),
    crm_cd_3 VARCHAR(255),
    crm_cd_4 VARCHAR(255),
    location VARCHAR(255),
    cross_street VARCHAR(255),
    lat VARCHAR(255),
    lon VARCHAR(255)
);"""

try:
    cursor.execute(my_table)
    print("Succesfully table created!")
except Exception as e:
    print(f"Error: {e}")

Read CSV

> This is original link 'https://catalog.data.gov/dataset/crime-data-from-2010-to-2019'  
If you want to perform the operation without downloading the data set, apply the comment line section.

In [ ]:
#link = 'https://data.lacity.org/api/views/63jg-8b9z/rows.csv?accessType=DOWNLOAD'
#data = pd.read_csv(link)

data = pd.read_csv('Crime_Data_from_2010_to_2019.csv')

Transferring data to database

In [ ]:
for i, row in data.iterrows():
    sql = """INSERT INTO `raw_data`
        (
        `dr_no`,
        `date_rptd`,
        `date_occ`,
        `time_occ`,
        `area`,
        `area_name`,
        `rpt_dist_no`,
        `part_1_2`,
        `crm_cd`,
        `crm_cd_desc`,
        `mocodes`,
        `vict_age`,
        `vict_sex`,
        `vict_descent`,
        `premis_cd`,
        `premis_desc`,
        `weapon_used_cd`,
        `weapon_desc`,
        `status`,
        `status_desc`,
        `crm_cd_1`,
        `crm_cd_2`,
        `crm_cd_3`,
        `crm_cd_4`,
        `location`,
        `cross_street`,
        `lat`,
        `lon`
        )
    VALUES
        (
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s",
        "%s"
        )"""
    try:
        q = sql % tuple(row)
        cursor.execute(q)
        connection.commit()
        print(i)
    except Exception as e:
        print(f"Error: {e}")
        print(sql % tuple(row))
        break

Nan values are updating with null

In [ ]:
try:
    cursor.execute("UPDATE raw_data SET dr_no = NULL WHERE dr_no = 'nan';")
    cursor.execute("UPDATE raw_data SET date_rptd = NULL WHERE date_rptd = 'nan';")
    cursor.execute("UPDATE raw_data SET date_occ = NULL WHERE date_occ = 'nan';")
    cursor.execute("UPDATE raw_data SET time_occ = NULL WHERE time_occ = 'nan';")
    cursor.execute("UPDATE raw_data SET area = NULL WHERE area = 'nan';")
    cursor.execute("UPDATE raw_data SET area_name = NULL WHERE area_name = 'nan';")
    cursor.execute("UPDATE raw_data SET rpt_dist_no = NULL WHERE rpt_dist_no = 'nan';")
    cursor.execute("UPDATE raw_data SET part_1_2 = NULL WHERE part_1_2 = 'nan';")
    cursor.execute("UPDATE raw_data SET crm_cd = NULL WHERE crm_cd = 'nan';")
    cursor.execute("UPDATE raw_data SET crm_cd_desc = NULL WHERE crm_cd_desc = 'nan';")
    cursor.execute("UPDATE raw_data SET mocodes = NULL WHERE mocodes = 'nan';")
    cursor.execute("UPDATE raw_data SET vict_age = NULL WHERE vict_age = 'nan';")
    cursor.execute("UPDATE raw_data SET vict_sex = NULL WHERE vict_sex = 'nan';")
    cursor.execute("UPDATE raw_data SET vict_descent = NULL WHERE vict_descent = 'nan';")
    cursor.execute("UPDATE raw_data SET premis_cd = NULL WHERE premis_cd = 'nan';")
    cursor.execute("UPDATE raw_data SET premis_desc = NULL WHERE premis_desc = 'nan';")
    cursor.execute("UPDATE raw_data SET weapon_used_cd = NULL WHERE weapon_used_cd = 'nan';")
    cursor.execute("UPDATE raw_data SET weapon_desc = NULL WHERE weapon_desc = 'nan';")
    cursor.execute("UPDATE raw_data SET status = NULL WHERE status = 'nan';")
    cursor.execute("UPDATE raw_data SET status_desc = NULL WHERE status_desc = 'nan';")
    cursor.execute("UPDATE raw_data SET crm_cd_1 = NULL WHERE crm_cd_1 = 'nan';")
    cursor.execute("UPDATE raw_data SET crm_cd_2 = NULL WHERE crm_cd_2 = 'nan';")
    cursor.execute("UPDATE raw_data SET crm_cd_3 = NULL WHERE crm_cd_3 = 'nan';")
    cursor.execute("UPDATE raw_data SET crm_cd_4 = NULL WHERE crm_cd_4 = 'nan';")
    cursor.execute("UPDATE raw_data SET location = NULL WHERE location = 'nan';")
    cursor.execute("UPDATE raw_data SET cross_street = NULL WHERE cross_street = 'nan';")
    cursor.execute("UPDATE raw_data SET lat = NULL WHERE lat = 'nan';")
    cursor.execute("UPDATE raw_data SET lon = NULL WHERE lon = 'nan';")
    print("Succesfully content updated!")
except Exception as e:
    print(f"Error: {e}")

Close everything...

In [ ]:
cursor.close()
connection.close()